.row-image-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */

.column-image-grid {
    flex: 50%;
    padding: 0 4px;
}

.column-image-grid img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}