@import "w3";
@import "responsive-topnav";
@import "theme";
@import "social-bar";
@import "image-grid";

.logo {
    width: 130px;
    margin: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

tr {
    border-bottom: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}