.w3-theme-l5 {
    color: #000 !important;
    background-color: #f3f1f0 !important
}

.w3-theme-l4 {
    color: #000 !important;
    background-color: #d8d1cd !important
}

.w3-theme-l3 {
    color: #000 !important;
    background-color: #b2a29b !important
}

.w3-theme-l2 {
    color: #fff !important;
    background-color: #8a756a !important
}

.w3-theme-l1 {
    color: #fff !important;
    background-color: #584a43 !important
}

.w3-theme-d1 {
    color: #fff !important;
    background-color: #221d1a !important
}

.w3-theme-d2 {
    color: #fff !important;
    background-color: #1e1917 !important
}

.w3-theme-d3 {
    color: #fff !important;
    background-color: #1a1614 !important
}

.w3-theme-d4 {
    color: #fff !important;
    background-color: #161311 !important
}

.w3-theme-d5 {
    color: #fff !important;
    background-color: #13100e !important
}

.w3-theme-light {
    color: #000 !important;
    background-color: #f3f1f0 !important
}

.w3-theme-dark {
    color: #fff !important;
    background-color: #13100e !important
}

.w3-theme-action {
    color: #fff !important;
    background-color: #13100e !important
}

.w3-theme {
    color: #fff !important;
    background-color: #26201d !important
}

.w3-text-theme {
    color: #26201d !important
}

.w3-border-theme {
    border-color: #26201d !important
}

.w3-hover-theme:hover {
    color: #fff !important;
    background-color: #26201d !important
}

.w3-hover-text-theme:hover {
    color: #26201d !important
}

.w3-hover-border-theme:hover {
    border-color: #26201d !important
}

.top-gradient {
    background: linear-gradient(#ffffff, #d6cab8) !important;
}