{% extends './layout.html' %}
{% load static %}

{% block content %}
<!-- Grid -->
<div class="w3-row">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
        <!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-white">
            <img src="{% static 'img/bg.jpg' %}" alt="Nature" style="width:100%">
            <div class="w3-container">
                <h3><b>Добро пожаловать на берег Дона!</b></h3>
                <h3><b>🔥 Заказывайте баньку, номера, беседки 🔥</b></h3>
                <h3><b>🚙 Приезжайте покататься вместе с детьми на квадрациклах и багги! 🚙</b></h3>
                <h5>{{ page.meta_tag_description }}</h5>
            </div>

            <div class="w3-container">
                <p>Для удобства гостей организована услуга "Трансфер" (микроавтобус Hyundai 12 мест, кроссовер Hyundai
                    7 мест). Можем встретить, проводить, перевезти, доставить все и всех по области. Мы рады
                    приветствовать Вас в Центре Туризма и Отдыха "BARS" в наших номерах мини-гостиницы и отдельных
                    благоустроенных меблированных квартирах.</p>
                <p>Спокойная и домашняя атмосфера меблированных номеров приятно отличается от шума и суеты больших
                    комплексов. У нас Теплый прием и уютная обстановка - располагающая к работе и отдыху. Вы можете
                    снять гостиничный номер в мини-гостинице, или отдельную меблированную квартиру, на сутки или
                    неделю.</p>
                <p>Центр Туризма и Отдыха "BARS" - представлен мини-гостиницей и отдельными благоустроенными
                    меблированными квартирами в городе Волгодонске, и кемпингом с гостиничными номерами в станице
                    Романовской. Администратор по Вашей просьбе поможет вызвать такси, покажет где находятся ближайшие
                    магазины, банкоматы, остановки. Командированным предоставляются отчетные документы (счет и кассовый
                    чек). Возможна как наличная, так и безналичная оплата! Гостям, прибывшим из ближнего зарубежья -
                    оформляем временную регистрацию.</p>
                <div class="w3-row">
                    <div class="w3-col m8 s12">
                        <p><button class="w3-button w3-padding-large w3-white w3-border"><b>Читать далее »</b></button></p>
                    </div>
                    <div class="w3-col m4 w3-hide-small">
                        <p><span class="w3-padding-large w3-right"><b>Комментарии </b> <span class="w3-tag">0</span></span></p>
                    </div>
                </div>
            </div>
            
            <div class="w3-container">
                <div class="row-image-grid">
                    <div class="column-image-grid">
                        {% for post in instagram %}

                        {% if forloop.counter|divisibleby:2 %}
                        <img src="{% get_media_prefix %}instagram/images_dir/{{ post.path }}/{{ post.name }}" />
                        {% else %}
                        
                        {% endif %}
                        
                        {% endfor %}
                    </div>
                    <div class="column-image-grid">
                        {% for post in instagram %}
                    
                        {% if forloop.counter|divisibleby:2 %}
                        
                        {% else %}

                        <img src="{% get_media_prefix %}instagram/images_dir/{{ post.path }}/{{ post.name }}" />
                    
                        {% endif %}
                    
                        {% endfor %}
                    </div>
                    
                </div>
                <br/>
                    <br/>
            </div>
        </div>
        <hr>
        <!-- END BLOG ENTRIES -->
    </div>

    <!-- Introduction menu -->
    <div class="w3-col l4">
        <!-- About Card -->
        <div class="w3-card w3-margin w3-margin-top">
            <img src="{% static 'img/bg2.jpg' %}" style="width:100%">
            <div class="w3-container w3-white">
                <h4><b>Оснащение комнат:</b></h4>
                <p>
                    Двухспальные и полутораспальные кровати, раскладные диваны (доп. место);
                    Телефон, телевизор (кабельное 61 канал, в городе), DVD с USB-входом для флешки MP3;
                    Туалет, ванная или душ;
                    Набор необходимой посуды, чайник, картины, цветы, WI-FI;
                    Минибар, холодильник, аквариум - в номерах ЛЮКС; СВЧ-печь, утюг, услуги прачечной;
                    Cмена постельного белья по-требованию;
                    Возможен завтрак или 3-х разовое питание (домашняя кухня) по-договоренности.
                </p>
            </div>
        </div>
        <hr>

        <div class="w3-card w3-margin">
            <div class="w3-container w3-padding">
                <h4>Популярные темы</h4>
            </div>
            <div class="w3-container w3-white">
                <p>
                    <div id="vk_post_-158481016_1"></div>
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?159"></script>
<script type="text/javascript">
  (function() {
    VK.Widgets.Post("vk_post_-158481016_1", -158481016, 1, 'rDSr0sgiwnzxe_g0U3logL-B9tir');
  }());
</script>
                </p>
            </div>
        </div>

        <!-- Posts -->
        <div class="w3-card w3-margin">
            <div class="w3-container w3-padding">
                <h4>Популярные комментарии</h4>
            </div>
            <ul class="w3-ul w3-hoverable w3-white">

                <li class="w3-padding-16">
                    <span>Загрузка комментариев...</span>
                </li>

            </ul>
        </div>
        <hr>

        <!-- Labels / tags -->
        

        <!-- END Introduction Menu -->
    </div>

    <!-- END GRID -->
</div><br>
    {% endblock %}