{% spaceless %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title_tag }}</title>
    <meta name="description" content="{{ page.meta_tag_description }}">
    <meta name="keywords" content="{{ page.meta_tag_keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/gif" sizes="16x16">

    {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock stylesheets %}

    {% block javascript %}
    {% endblock javascript %}
 
    {% if not debug %}
    <meta name="google-site-verification" content="jctK_uPMr4PrSaiQpL8oD6JgtCQAjExmN4cUwKHBRvo" />
    {% include "./google-analytics.html" %}
    {% include "./ya-counter.html" %}
    {% endif %}

</head>

<body class="top-gradient">
    <header class="w3-container w3-theme">
        <div class="w3-content" style="max-width:1400px">
            <div class="w3-row">
                <div class="w3-quarter w3-container">
                    <a href="{% url 'home' %}"><img class="logo" src="{% static 'img/logo.png' %}" /></a>
                </div>
                <div class="w3-half w3-container w3-center">
                    <h1>Центр туризма и отдыха "BARS"</h1>
                    <p class="w3-large">🔥 Баня на дровах, 🏘️ гостиница на берегу реки Дон - станица Романовская, работаем круглосуточно</p>
                </div>
                <div class="w3-quarter w3-container">
                    <h2>+7 (928) 136-29-62</h2>
                </div>
            </div>

        </div>
    </header>
    {% include './navigation.html' %}
    {% include './social-bar.html' %}
    
    <!-- w3-content -->
    <div class="w3-content" style="max-width:1400px">

        {% block content %}
        {% endblock content %}

        {% block javascript-after %}
        <script src="{% static 'js/index.js' %}"></script>
        {% endblock javascript-after %}

        <!-- END w3-content -->
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-theme-l5 w3-padding-32 w3-margin-top w3-center">
        <p>Центр Туризма и Отдыха "BARS" город Волгодонск бульвар Великой Победы 9 станица Романовская переулок Донской
            3 Телефон: +7 (928) 136-29-62 круглосуточно Электронная почта: info@bars161.ru</p>
        <p>Официальная страница Центр Туризма и Отдыха "BARS" в сети интернет: https://bars161.ru</p>
    </footer>

</body>

</html>
{% endspaceless %}