{% load nav_current %}

{% with request.META.PATH_INFO as path_info %}

<div class="w3-container w3-theme-d2">
    <div class="w3-content" style="max-width:1400px">
            
            <div class="topnav" id="top-nav">
                    <a href="{% url 'home' %}" class="{{ path_info|get_class:'/' }}">Главная</a>
                    <a href="/mini-gostinitsa" class="{{ path_info|get_class:'/mini-gostinitsa' }}">Мини-гостиница</a>
                    <a href="/prais-list" class="{{ path_info|get_class:'/prais-list' }}">Прайс-лист</a>
                    <a href="/bania-na-drovakh" class="{{ path_info|get_class:'/bania-na-drovakh' }}">Баня на дровах</a>
                    <a href="/transfer" class="{{ path_info|get_class:'/transfer' }}">Трансфер</a>
                    <a href="/kontakty" class="{{ path_info|get_class:'/kontakty' }}">Контакты</a>
                    
                    <a href="javascript:void(0);" class="icon" onclick="responsiveTopNav()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
    </div>
</div>
{% endwith %}