{% extends './layout.html' %}
{% load static %}

{% block content %}

<div class="w3-row">
    <div class="w3-col l8 s12">
        <div class="w3-card-4 w3-margin w3-white">

            <div class="w3-container">
                <h3><b>{% autoescape off %}{{ content.name }}{% endautoescape %}</b></h3>
                <h5>{{ page.meta_tag_description }}, <span class="w3-opacity">{{ content.created_at|date:"D d M Y" }}</span></h5>
            </div>
            <div class="w3-container">
          
            {% autoescape off %}
              {{ content.content }}
            {% endautoescape %}
          
          </div>
          </div>
      </div>

</div>
{% endblock %}