<div class="icon-bar">
    <a href="https://www.instagram.com/barsbaza/" title="Наш Инстаграм - barsbaza" class="instagram" target="_blank"><i
            class="fa fa-instagram"></i></a>
    <a href="https://vk.com/bars161" title="Наш Вконтакте - bars161" class="vk" target="_blank"><i
                class="fa fa-vk"></i></a>
    <a href="https://www.youtube.com/channel/UCiyMrwJuCS9JNm4Bz_aWkyw" title="Наш Youtube - канал" class="youtube" target="_blank"><i
                    class="fa fa-youtube"></i></a>
</div>